In [12]:
print(1,"Hello World","in an AI course");

1 Hello World in an AI course

In [11]:
print("Hello","world",sep="__")

Hello__world

In [14]:
print("""today is our second
     class""");

today is our second
     class

In [15]:
3/3 #floating division

1.0

In [16]:
3//3 # integer division

1

In [17]:
10//3 #floor

3

In [18]:
10%4 #modulus

2

In [19]:
name = "muhammad Ali"

In [20]:
print(name)

muhammad Ali

In [21]:
id(name) #this ID is stored inside our RAM

2642199429360

In [32]:
marks = 100;

In [33]:
marks-=20;

In [35]:
marks

80

In [37]:
print("Hello");
name; #it should be on a last line to print without print function
marks

Hello

80

>>> help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

# False               class               from                or
# None                continue            global              pass
# True                def                 if                  raise
# and                 del                 import              return
# as                  elif                in                  try
# assert              else                is                  while
# async               except              lambda              with
# await               finally             nonlocal            yield
# break               for                 not

# User Input:
- anything inout from console it  has type: string.

In [2]:
name = "Muhammad Ali";
count = 10;
std_name = input("Enter your name");

Enter your name ali

In [3]:
print(std_name)

ali

In [4]:
print(type(std_name));

<class 'str'>

In [6]:
age = input("Enter your age: ");

Enter your age:  19

In [7]:
print(type(age));

<class 'str'>

# Typecasting

In [11]:
# an integer value typecasted to string
str(180)

'180'

In [14]:
# an string value typecasted to integer
# Value must be a number(integer) inside Quotation
int("100")

100

In [16]:
# an string value typecasted to float
# Value must be a number inside Quotation
float("100.13")

100.13

In [17]:
# integer to float type casted but result would be number.0
float(45)

45.0

In [19]:
int(age) + 10 #age define on line 6 user input

29

In [23]:
age = int(float(input("Enter your age: ")))
print(age);

Enter your age:  19.2

19

# string
 - String is a class.
 - String is a collection.
 - Any value in inverted commas is string.
 - Strig values are immutable. (unchangable)

In [24]:
country = "united stated"

In [37]:
print(type(country));

<class 'str'>

In [38]:
country.upper()

'UNITED STATED'

In [42]:
country

'United Stated'

In [41]:
print(country);

United Stated

In [43]:
country = country.upper();

In [44]:
country

'UNITED STATED'

In [53]:
country.count("UNE")

0

In [54]:
country.startswith("UN")

True

In [56]:
country.endswith("TED")

True

In [61]:
country.find("E")

4

In [64]:
"A".isalnum()

True

In [65]:
"12".isalnum()

True

In [66]:
"A13".isalnum()

True

In [67]:
"A".isalpha()

True

In [68]:
"12".isalpha()

False

In [69]:
country.islower()

False

In [70]:
country.isspace()

False

In [71]:
"".isspace()

False

In [83]:
student = " muhammad ali "

In [84]:
len(student)

14

In [87]:
len(student.strip())

12

In [90]:
student.replace("a","A")

' muhAmmAd Ali '

In [93]:
student

' muhammad ali '

# String Concatenation: Joining

In [95]:
first_name = "Artificial"
last_name = "Intelligence"

In [96]:
first_name + last_name

'ArtificialIntelligence'

In [97]:
first_name +" "+ last_name

'Artificial Intelligence'

In [107]:
course = input("Enter your course name:")
number_of_std = int(input("Enter number of students:"))
institute = input("Enter institute name:")

print("We are learning",course,"course at",institute,"and there are",str(number_of_std), "students enrolled")

Enter your course name: Data Science
Enter number of students: 200
Enter institute name: SMIT

We are learning Data Science course at SMIT and there are 200 students enrolled

In [111]:
#placeholder
print("we are learning {}. There are {} enrolled in our course at {}".format(course,number_of_std,institute))

we are learning Data Science. There are 200 enrolled in our course at SMIT

In [114]:
print(f"we are learning {course}. There are {number_of_std} enrolled in our course at {institute}.")

we are learning Data Science. There are 200 enrolled in our course at SMIT.

In [115]:
course.lstrip().rstrip().upper().endswith("E")

True

In [2]:
print("ALi",12, False, 45.54, sep="-")

ALi-12-False-45.54

# Python Collection: Python Data Structure 
  - List
  - Dictionary
  - Tuple
  - Set

# List:
        - List is pythin collection.
        - Can hold many values together.
        - Can hold many data types together
        - List is mutable
        - List is iterable

# List declaration: []

In [71]:
students = ['Ali','Ahmad','Aariz','Hisham','Shakoor']

In [5]:
print(type(students))

<class 'list'>

In [6]:
len(students)

5

In [9]:
null_list = []
len(null_list)

0

# List Indexing:

In [10]:
# -index     -7     -6      -5      -4        -3       -2     -1
students = ['Ali','Ahmad','Aariz','Hisham','Shakoor','Zain','Zia']
# index       0      1       2       3        4        5      6

In [11]:
students[-2]

'Zain'

In [13]:
students[1]

'Ahmad'

# Adding elements to an existing list
- append() : adds a element at very last.
- insert() : adds a element at provided index.
- extend() : adds many elements together in list.
- Plus (+)       : Concatenate two lists.

In [14]:
students.append("Basit")

In [15]:
students

['Ali', 'Ahmad', 'Aariz', 'Hisham', 'Shakoor', 'Zain', 'Zia', 'Basit']

In [16]:
students.insert(2,"Naveed")

In [17]:
students

['Ali',
 'Ahmad',
 'Naveed',
 'Aariz',
 'Hisham',
 'Shakoor',
 'Zain',
 'Zia',
 'Basit']

In [18]:
students.extend(['Aqeel','Bilal','Hamza','Huzaifa','Khubaib'])

In [19]:
students

['Ali',
 'Ahmad',
 'Naveed',
 'Aariz',
 'Hisham',
 'Shakoor',
 'Zain',
 'Zia',
 'Basit',
 'Aqeel',
 'Bilal',
 'Hamza',
 'Huzaifa',
 'Khubaib']

# Deleting' Removing elements in the List
- del statement : Delete a element via index permanently.
- remove()      : Delete a element via value permanently.
- pop()         : Delete a element via index permanently /
- clear()       : Delete a element from list permanently.

In [26]:
name = 'ali'
del name

In [28]:
name # DElETED PERMANENTLY

In [29]:
del students[1]

In [30]:
students #Ahmad has deleted permanently

['Ali',
 'Naveed',
 'Aariz',
 'Hisham',
 'Shakoor',
 'Zain',
 'Zia',
 'Basit',
 'Aqeel',
 'Bilal',
 'Hamza',
 'Huzaifa',
 'Khubaib']

In [33]:
students.remove("Naveed")

In [34]:
students

['Ali',
 'Aariz',
 'Hisham',
 'Shakoor',
 'Zain',
 'Zia',
 'Basit',
 'Aqeel',
 'Bilal',
 'Hamza',
 'Huzaifa',
 'Khubaib']

In [51]:
# remove a value from last index by default, but it returns a removed 
students.pop()

'Zain'

In [56]:
popped_std

'Bilal'

In [55]:
students

['Ali', 'Aariz', 'Hisham', 'Shakoor']

In [57]:
students.clear()

In [58]:
students

[]

In [77]:
teachers = ["Sir Nasir","Sir Asad"]
students.clear()
students
students.extend(teachers)
students

['Sir Nasir', 'Sir Asad']

In [80]:
new_std = students # Pass by reference

In [84]:
id(new_std)

1383237549696

In [85]:
id(students)

1383237549696

In [87]:
a=10
b=10
id(a) #value is same so id would be same of a and b

140719678630616

In [88]:
id(b) #value is same so id would be same of a and b

140719678630616

In [89]:
students

['Sir Nasir', 'Sir Asad']

In [90]:
students.index('Sir Nasir') #To find index number of element

0

In [6]:
team = ['Ali','Ahmad','Aariz','Hisham','Shakoor','Zain','Zia']
id(team)

2293569242304

# List Slicing

In [7]:
#team [start:end:step]

team[2:5:1] #take 1 step, will not left any value

['Aariz', 'Hisham', 'Shakoor']

In [8]:
team[2:5:2] #take 2 step, will left 1 value alternate

['Aariz', 'Shakoor']

In [103]:
team.copy() #changed it's id
id(team)

1383233440960

In [107]:
team[::-1] # reverse

['Zia', 'Zain', 'Shakoor', 'Hisham', 'Aariz', 'Ahmad', 'Ali']

In [9]:
print(team)
team[-3:7]

['Ali', 'Ahmad', 'Aariz', 'Hisham', 'Shakoor', 'Zain', 'Zia']

['Shakoor', 'Zain', 'Zia']

In [10]:
team.sort()
print(team)
team.reverse()
print(team)

['Aariz', 'Ahmad', 'Ali', 'Hisham', 'Shakoor', 'Zain', 'Zia']
['Zia', 'Zain', 'Shakoor', 'Hisham', 'Ali', 'Ahmad', 'Aariz']

# Dictionary {}
- No index number need
- iterable
- immutable

In [11]:
# Empty Dictionary
student1 = {}

In [12]:
len(student1)

0

In [84]:
teacher = {'Name' : 'Ali', 'Age' : 18, 'Course' : 'Data Science'}

In [41]:
teacher

{'Name': 'Ali', 'Age': 18, 'Course': 'Data Science'}

In [42]:
teacher['Name']

'Ali'

In [17]:
teacher['Age']

18

In [43]:
teacher['Course']

'Data Science'

In [44]:
# Adding new key=value to our Dictionary
teacher['email'] = 'muhammadali30302@gmail.com'

In [45]:
teacher

{'Name': 'Ali',
 'Age': 18,
 'Course': 'Data Science',
 'email': 'muhammadali30302@gmail.com'}

In [24]:
# if the key is already present in our Dictionary so it will update value of our key
teacher['email'] = 'muhammad.ali.dev2@gmail.com'

In [46]:
teacher

{'Name': 'Ali',
 'Age': 18,
 'Course': 'Data Science',
 'email': 'muhammadali30302@gmail.com'}

In [47]:
teacher.keys() # it returns all keys of our Dictionary

dict_keys(['Name', 'Age', 'Course', 'email'])

In [48]:
teacher.values() # it returns all value of our Dictionary

dict_values(['Ali', 18, 'Data Science', 'muhammadali30302@gmail.com'])

In [49]:
teacher.items() # it return all keys=values in pairs

dict_items([('Name', 'Ali'), ('Age', 18), ('Course', 'Data Science'), ('email', 'muhammadali30302@gmail.com')])

In [50]:
teacher.pop('Age') #it removes key=value from our Dictionary

18

In [52]:
teacher # Age removed

{'Name': 'Ali',
 'Course': 'Data Science',
 'email': 'muhammadali30302@gmail.com'}

In [53]:
teacher.popitem() # remove last pair of key=value

('email', 'muhammadali30302@gmail.com')

In [74]:
teacher

{}

In [86]:
popped_list = []

In [89]:
popped_teacher = teacher.popitem()
popped_list.append(popped_teacher)

In [90]:
popped_list

[('Course', 'Data Science'), ('Age', 18), ('Name', 'Ali')]

In [124]:
teacher = {'name' : 'Ali', 'age' : 18, 'course' : 'Data Science'}

In [125]:
# both are same
teacher.get('name') , teacher['name']

('Ali', 'Ali')

In [126]:
teacher_details = {'marital_status' : 'single', 'Institute' : 'SMIT'}

In [127]:
# if key is present in our Dictionary so it will update value otherwise it adds key=value in our Dictionary
teacher.update(teacher_details)

In [107]:
teacher

{'name': 'Ali',
 'age': 18,
 'course': 'Data Science',
 'marital_status': 'single',
 'Institute': 'SMIT'}

In [122]:
teacher.clear()

In [123]:
teacher

{}

In [128]:
teacher

{'name': 'Ali',
 'age': 18,
 'course': 'Data Science',
 'marital_status': 'single',
 'Institute': 'SMIT'}

In [ ]:
del teacher['marital_status']

In [132]:
teacher

{'name': 'Ali', 'age': 18, 'course': 'Data Science', 'Institute': 'SMIT'}

# List in Dictionary

In [2]:
result = {'Roll':[1,2,3,4,5,6,7,8,9,10],
          'Name':['Ali','Saad','Umer','Hassan','Bilal','Ahmad','Faiz','Jamal','Saim','Waqas'],
          'Course':['Python', 'Stats', 'ML', 'AI', 'Maths', 'Python'],
          'Marks':[75,95,83,84,90,37,91,80,58,73]}

In [6]:
result['Name']

['Ali',
 'Saad',
 'Umer',
 'Hassan',
 'Bilal',
 'Ahmad',
 'Faiz',
 'Jamal',
 'Saim',
 'Waqas']

In [7]:
result['Name'][4]

'Bilal'

In [8]:
result['Name'][5][-2] #ahmad "a"

'a'

In [9]:
result['Name'][2:6] #print from index 2 to 5

['Umer', 'Hassan', 'Bilal', 'Ahmad']

# Dictionary in Dictionary

In [17]:
dic_in_dic = {
    'student1':{'name':'Ali','roll':111,'course':'Python'},
    'student2':{'name':'Saad','roll':112,'course':'Machine Learning'},
    'student3':{'name':'David','roll':113,'course':'Statistics'}
}

In [16]:
dic_in_dic['student3']['name']

'David'

In [19]:
dic_in_dic['student2']['course']

'Machine Learning'

# Tuple
- Iterable
- Immutable
- (v1, v2, v3)
- Should have more than 1 value

In [27]:
tuples = (1+2,2-3,2)
print(type(tuples))

<class 'tuple'>

In [28]:
tuples[0]

3

In [29]:
len(tuples)

3

#Set
- mutable
- {}

In [30]:
sets = {}
type(sets) # Empty will be Dictionary

dict

In [37]:
aset = set([1.2,3,4,5,6,7,8,8]) #typecast list to set
print(type(aset))

<class 'set'>

In [33]:
fruits = 'mango', 'banana'
fruits #with braces by default it will be tuple

('mango', 'banana')

In [38]:
aset.union({10,2})

{1.2, 2, 3, 4, 5, 6, 7, 8, 10}

In [39]:
aset #doesn't repeat same values

{1.2, 3, 4, 5, 6, 7, 8}

In [41]:
type(tuple([1,2,3,4,5,3]))

tuple

# Conditional Statement / if statement / if clause
- if
- if else
- multiple conditions
- nested condition

In [52]:
age = float(input("Enter your Age: "))
name = input("Enter your name")
if age >= 18 :
    print("good to go by Age")
    if name == 'Ali' :
        print('good to go by name')
    else :
        print('name is not correct')
else :
    print("Sorry, access denied")

Enter your Age:  18
Enter your name Ali

good to go by Age
good to go by name

# Membership Check Operator: in
# Identity Check Operator: is

In [65]:
guest = ['ALI','SAAD','KASIM','AARIZ']

In [56]:
'Ali' in guest

True

In [66]:
guest_name = input("Enter You Name for Varification Purpose: ").upper()
if guest_name in guest:
    print("You are invited")
else:
    print("Your name isn't in the list")

Enter You Name for Varification Purpose:  ali

You are invited

In [2]:
guest = ['ALI','SAAD','KASIM','AARIZ']
guest_name = input("Enter You Name ").upper()
if guest_name.startswith('A') and guest_name in guest:
    print("You are welcome on front seat")
else:
    print("you can sit after first row")

Enter You Name  aariz

You are welcome on front seat

In [15]:
price = int(float(input("Enter Price of Potatos per kg : ")))
kg = 0
if price <= 50 :
    kg = 10
elif price <= 100 :
    kg = 5
elif price <= 200 :
    kg = 3
elif price <= 300 :
    kg = 2
elif price <= 500 :
    kg = 1
else:
    print("No need")
print(f"Since price are {price}, so please give {kg}kg of potatos")

Enter Price of Potatos per kg :  290

Since price are 290, so please give 2kg of potatos

In [26]:
item1 = int(input("Price of Item"))
item2 = int(input("Price of Item"))
item3 = int(input("Price of Item"))
item4 = int(input("Price of Item"))
item5 = int(input("Price of Item"))
item6 = int(input("Price of Item"))

totalBill = item1 + item2+ item3+ item4+ item5 + item6
discount = 0

if totalBill <= 1500 :
    discount = totalBill * .10
elif totalBill <= 2500 :
    discount = totalBill * .15
elif totalBill <= 4000 :
    discount = totalBill * .20
elif totalBill <= 6000 :
    discount = totalBill * .30
elif totalBill > 6000 :
    discount = totalBill * .40
else :
    dicount = totalBill * 0
print(f"""
        Imtiaz Supermarkt
        
        ___________________

        {item1}
        {item2}
        {item3}
        {item4}
        {item5}
        {item6}
        Gesamtrechnung : {totalBill}
        Discount applied  : {discount}
        Rechnung           : {totalBill - discount} 

        Dankeschon fur Einkhaufen
""")

Price of Item 400
Price of Item 288
Price of Item 4003
Price of Item 6604
Price of Item 6694
Price of Item 600

        Imtiaz Supermarkt

        ___________________

        400
        288
        4003
        6604
        6694
        600
        Gesamtrechnung : 18589
        Discount applied  : 7435.6
        Rechnung           : 11153.4

        Dankeschon fur Einkhaufen

In [43]:
physics = int(input("Enter your physics marks : "))
maths = int(input("Enter your maths marks : "))
urdu = int(input("Enter your urdu marks : "))
islamiat = int(input("Enter your islamiat marks : "))
computer = int(input("Enter your computer marks : "))
english = int(input("Enter your english marks : "))

totalMarks = physics + maths + urdu + islamiat + computer + english
maxMarks = 1100
percentage = totalMarks / maxMarks * 100
grade = ""

if percentage <= 100 :
    grade == "A+"
elif percentage < 80 : 
    grade == "A"
elif percentage < 70 :
    grade == "B"
elif percentage < 60 : 
    grade == "C"
elif percentage < 50 :
    grade == "D"
else :
    grade == "F"

print(f"""
    Your Result
    
    ___________

    Obtained Marks : {totalMarks}
    Max Marks      : {maxMarks}
    Percentage     : {percentage}
    Grade          : {grade}
""")

Enter your physics marks :  100
Enter your maths marks :  200
Enter your urdu marks :  100
Enter your islamiat marks :  100
Enter your computer marks :  100
Enter your english marks :  100

    Your Result

    ___________

    Obtained Marks : 700
    Max Marks      : 1100
    Percentage     : 63.63636363636363
    Grade          :

In [49]:
vote_day = input("Vote day")
CNIC = input("do you have CNIC?")
voting_list = input("Is your name in voting list?")

if vote_day == "monday" :
    if CNIC == "yes" :
        if voting_list == "yes" :
            print("You can vote")
        else :
                print("Your name must be in the voting list")
    else :
        print("you must have CNIC")
else :
    print("Today is not voting day")

Vote day monday
do you have CNIC? no
Is your name in voting list? no

you must have CNIC

In [3]:
shop_items = {'laptop': 200,'mobile' : 150,'charger': 50}

In [6]:
item = input("What do you want? : ").lower()

if item in shop_items :
    quantity = int(input("how much? : "))
    total = quantity * shop_items[item]
    if quantity >= 100 :
        discount = total * 0.10
else :
    print("Item isn't available")
print(f"you total is = {total}")

What do you want? :  MObile
how much? :  72

you total is = 10800

# Loops
- Lopps always iterates over the values that are really iterable : string, list, dictionary, tuple, set

## For Loop:

In [72]:
for i in  'Muhammad':
        print(i.upper(),end="")

MUHAMMAD

In [73]:
for a in range(10) :
    print(a)

0
1
2
3
4
5
6
7
8
9

In [90]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [91]:
cities = ('Karachi','Berlin','Amsterdam','Moscow','Munich','Vienna','Lisbon')

In [92]:
for city in cities:
    print(f"Ich liebe {city}")

Ich liebe Karachi
Ich liebe Berlin
Ich liebe Amsterdam
Ich liebe Moscow
Ich liebe Munich
Ich liebe Vienna
Ich liebe Lisbon

In [95]:
for city in cities:
    if city == 'Karachi':
        continue
    else:
        print(f"Ich Liebe {city}")

Ich Liebe Berlin
Ich Liebe Amsterdam
Ich Liebe Moscow
Ich Liebe Munich
Ich Liebe Vienna
Ich Liebe Lisbon

In [100]:
invite = ('Ali','Saad','Adam','Hisham')
for invited in invite:
    if invited == 'Saad':
        print(f"{invited} isn't invited")
    else:
        print(f"{invited} is invited")

Ali is invited
Saad isn't invited
Adam is invited
Hisham is invited

In [115]:
for a in range(10) :
    if a == 4 :
        break
    print(a)

0
1
2
3

In [126]:
for i in range(1,20) :
    if i%10 == 0 :
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [138]:
dic = {}
for a in range(1,20):
    sqrt = a**2
    if sqrt%2 == 0 :
        dic['a'] = a
        dic['Square'] = sqrt
        break
    else:
        print(a,sqrt)
print(dic)

1 1
{'a': 2, 'Square': 4}

In [149]:
dic

{'a': 2, 'Square': 4, 'Ali': 18}

In [151]:
my_dict = {'Name':'Ali','Age':18,'ID':334036}

In [154]:
for a in my_dict :
    print(a)

Name
Age
ID

In [164]:
for a in my_dict :
    print(my_dict)

{'Name': 'Ali', 'Age': 18, 'ID': 334036}
{'Name': 'Ali', 'Age': 18, 'ID': 334036}
{'Name': 'Ali', 'Age': 18, 'ID': 334036}

In [169]:
for a in my_dict.values() :
    print(a)

Ali
18
334036

In [170]:
my_list = ['Ali','Saad','Adam','Hisham']

In [172]:
a,s,d,h = my_list

In [173]:
a

'Ali'

In [174]:
d

'Adam'

In [178]:
my_dict = {'Name': 'Ali', 'Course': 'Data'}
for a,b in my_dict.items():
    print(f"key is {a} and vlaue is {b}")

key is Name and vlaue is Ali
key is Course and vlaue is Data

In [182]:
items = [{'laptop': 30000}, {'mobile': 18000}, {'printer': 5000}, {'Mouse': 700}]

In [192]:
prod = input("What do you want to buy? : ").lower()
for i in items :
    if prod in i:
        print(f"{prod} price is {i[prod]}")

What do you want to buy? :  printer

printer price is 5000

# Functions

In [15]:
def sum(a,b):
    print(a+b)
sum(2,3)
sum(3,4)

5
7

In [9]:
def shop(price): # parameter
    print(f"price of product is ${price}")

In [16]:
shop(200) # argument

price of product is $200

In [43]:
def sum(lst):
    s = 0
    for num in lst:
        s += num
    print(s)

In [44]:
sum([1,2,3,4,5,6,7,8,9,10])

55

In [50]:
def find_max(lst):
    max_num = lst[0]
    for a in lst:
        if a > max_num:
            max_num = a
    print(max_num)

In [53]:
find_max([1,2,3,73,374,282])

374

In [55]:
def find_min(lst):
    min_num = lst[0]
    for a in lst:
        if a < min_num:
            min_num = a
    print(min_num)

In [58]:
find_min([1,-67,2,3,73,374,282])

-67

In [73]:
def person_details(name, age, gender, phone):
    print(f"""              Name    : {name}
              Age     : {age}
              Gender  : {gender}
              Phone   : {phone}
    """)

In [74]:
person_details('Ali',19,phone='277658392',gender='Male')

              Name    : Ali
              Age     : 19
              Gender  : Male
              Phone   : 277658392

In [83]:
def sum(a,b,*num):
    print(a + b)
    print(num)
    ts = 0
    for b in num:
        ts += b
        s = ts + a + b
    print(s)

In [84]:
sum(23,4,5,5,6)

27
(5, 5, 6)
45

In [9]:
def ali(a,b):
    return a - b

In [11]:
ali(14,13)

1

In [15]:
try:
    age = int(input("Input your age here : "))
    his_age = age
except Exception as e:
    print(f"Exception generated and caught {e}")
else:
    print(his_age)
finally:
    print("Finally will must run")

Input your age here :  22

22
Finally will must run

# File Handling

In [16]:
f = open('file.txt')

In [17]:
f.read()

'a book or other written or printed work, regarded in terms of its content rather than its physical form.\n"a text which explores pain and grief"\nthe main body of a book or other piece of writing, as distinct from other material such as notes, appendices, and illustrations.\n"the pictures are clear and relate well to the text"'

In [26]:
a = open("myfile.txt","w")
a.write("Hello Ali, Congradulations")
a.close()

In [29]:
a = open("myfile.txt","w")
a.write("Hello")

5

In [30]:
a.write("Hello")

5

In [32]:
a.close()

In [37]:
a = open("myfile.txt","w")
a.write("hey Ali!")
a.close()

In [51]:
a = open("myfile.txt","w")
a.writelines(["Prepared by experienced English teachers, the texts\n",
"articles and conversations are brief and appropriate to your level of\n",
"proficiency. Take the multiple-choice quiz following each text\n",
"and you'll get the results immediately. You will feel both challenged and\n",
"accomplished! You can even download (as PDF) and print the texts and exercises. It's enjoyable, fun and free. Good luck!"])

In [53]:
a.close()

In [54]:
with open("myfile.txt","r") as a:
    content = a.read()

In [55]:
content

"Prepared by experienced English teachers, the texts\narticles and conversations are brief and appropriate to your level of\nproficiency. Take the multiple-choice quiz following each text\nand you'll get the results immediately. You will feel both challenged and\naccomplished! You can even download (as PDF) and print the texts and exercises. It's enjoyable, fun and free. Good luck!"

In [56]:
with open("myfile.txt","a") as a:
    a.write("hey!")

In [57]:
with open("myfile.txt","r") as a:
    content = a.read()

In [58]:
content

"Prepared by experienced English teachers, the texts\narticles and conversations are brief and appropriate to your level of\nproficiency. Take the multiple-choice quiz following each text\nand you'll get the results immediately. You will feel both challenged and\naccomplished! You can even download (as PDF) and print the texts and exercises. It's enjoyable, fun and free. Good luck!hey!"

In [60]:
with open("myfile.txt","r") as a:
    for line in a:
        content = a.read()
        print(content)

articles and conversations are brief and appropriate to your level of
proficiency. Take the multiple-choice quiz following each text
and you'll get the results immediately. You will feel both challenged and
accomplished! You can even download (as PDF) and print the texts and exercises. It's enjoyable, fun and free. Good luck!hey!

In [68]:
try:
    with open("function.txt","r+") as a:
        a.write("Functions are block of code that runs when they are called.")
        a.seek(0)
        print(a.read())
except FileNotFoundError:
    print("The file you are looking is not in our dictionary")

The file you are looking is not in our dictionary

# Object Oriented Programming (OOPS):
Every object has it's own
- charcteristic
- Behavior, features

## Classes:
        Class is a template of an object
        Class is a model of an object
        Class is a blue print of an object 
        Class is a map of an object
        Class is actually implementation
        Class is the first true copy of an object

## Object:
        Object is an instance of class
        Object is a copy of class

In [1]:
class person():
    pass

In [2]:
p1 = person()

In [3]:
print(type(p1))

<class '__main__.person'>

In [12]:
class person():
    # Attributes
    name = "Muhammad Ali"
    age = 19
    gender = "Male"
    occupation = "Student"
    # Action/Behavior/Method
    def reaction(self):
        print(f"{self.name} is weeping!")

In [14]:
p1 = person()

In [15]:
p1.name

'Muhammad Ali'

In [16]:
p1.age

19

In [17]:
p1.reaction()

Muhammad Ali is weeping!

In [24]:
person().reaction()

Muhammad Ali is weeping!

In [26]:
p2 = person()

In [27]:
p2.name = "Hisham"

In [28]:
p2.age = 19

In [29]:
p2.gender = "Male"

In [30]:
p2.occupation = "Job"

In [31]:
p2.name

'Hisham'

In [56]:
class Person():
    # Initializer /  Constructor
    def __init__(self,gender,name,age,occupation):
        self.gender = gender
        self.name = name
        self.age = age
        self.occupation = occupation
    def sleep(self):
        print(f"{self.name} is sleeping")

In [57]:
p1 = Person('Male', 'Ali',19,'Programmer')

In [58]:
p2 = Person('Female', 'Shabana',27,'Designer')

In [59]:
p1.sleep()

Ali is sleeping

In [60]:
p2.sleep()

Shabana is sleeping

In [61]:
p2.name

'Shabana'

In [62]:
p1.age

19

In [68]:
p3 = Person('Male', 'Saad',23,'Student')

In [69]:
Person.sleep(p3)

Saad is sleeping

In [98]:
class Dog():
    def __init__(selfy,name,age,breed,bite):
        selfy.name = name
        selfy.age = age
        selfy.breed = breed
        selfy.bite = bite
    def bark(selfy):
        print(f"{selfy.name} is barking")
    def detailDog(selfy):
        print(f"""
            Dog Name = {selfy.name}
            Dog Age = {selfy.age}
            Dog Breed = {selfy.breed}
            Does Dog Bite = {selfy.bite}
        """)

In [99]:
d1 = Dog('Tommy',12,'German sheferd',True)

In [100]:
d2 = Dog('Xander',17,'Siberian huskey',False)

In [101]:
d1.bark()

Tommy is barking

In [102]:
d2.bark()

Xander is barking

In [103]:
d2.bite

False

In [104]:
d2.detailDog()

            Dog Name = Xander
            Dog Age = 17
            Dog Breed = Siberian huskey
            Does Dog Bite = False

In [105]:
d1.detailDog()

            Dog Name = Tommy
            Dog Age = 12
            Dog Breed = German sheferd
            Does Dog Bite = True

In [107]:
class Dog():
    def __init__(self,name,age,roll,course = "Python"):
        self.name = name
        self.age = age
        self.roll = roll
        self.course = course
        self.laptop = "HP"
    def study(self):
        print(f"{self.name} is studying {self.course}")
    def exam(self):
        print(f"{self.name} is giving {self.course} exam")
    def detailStd(self):
        print(f"""
            Student Name = {self.name}
            Student Age = {self.age}
            Student Roll = {self.roll}
            Student Course = {self.course}
            Student Laptop = {self.laptop}
        """)

s1 = Dog('Majid',25,40338)

In [111]:
s1.laptop

'HP'

In [112]:
s1.course

'Python'

In [113]:
s1.detailStd()

            Student Name = Majid
            Student Age = 25
            Student Roll = 40338
            Student Course = Python
            Student Laptop = HP

In [114]:
s1.study()

Majid is studying Python

In [115]:
s1.exam()

Majid is giving Python exam

 # Pillers of Object Orienceded programming (OOPS):

- Encapsolation

In [13]:
class user():
    def __init__(self,first_name,last_name,username,password):
        self.first_name = first_name
        self.last_name = last_name
        self.username = username
        self.password = password
    def userProfile(self):
        print( f"""
            First Name : {self.first_name}
            Last Name : {self.last_name}
            Username : {self.username}
        """)
    def get_username(self):
        return self.username
    def set_user(self,new_username):
        if username.lower() == "admin":
            return "Invalid Username"
        else:
            self.username = new_username

In [14]:
u1 = user("Saad","Ali","saadali1209","124421")

In [15]:
u1.userProfile()

            First Name : Saad
            Last Name : Ali
            Username : saadali1209

In [16]:
u1.password

'124421'

In [19]:
u1.username = "saadali12093"

In [20]:
u1.username

'saadali12093'

# Inheritance
    - We inherit a class into another class.
    - The class inherited called Parent class (Super).
    - The class inherits called child class (Sub).
    - The methods and attributes of parent class are available in child class.
    - Child class may have it's own attributes and methods.

In [5]:
def welcome():
    print("Welcome here")

In [6]:
print(welcome())

Welcome here
None

In [13]:
well = welcome()

In [14]:
print(well)

Welcome here

In [16]:
def welcome():
    return "Welcome here"

In [17]:
print(welcome())

Welcome here

In [18]:
wil = welcome()

In [21]:
print(wil)

Welcome here

In [24]:
def parent(fun):
    def child():
        print("Welcome")
        print(fun("Pakistan"))
        print("Please come in")
    return child()

In [25]:
parent(len)

Welcome
8
Please come in

In [36]:
def profile_fetcher(f):
    name = "Ali"
    clas = "AI"
    profile = f(n = name, c = clas)
    print(profile)

In [37]:
@profile_fetcher
def builder(**details):
    profile = {}
    for k,v in details.items():
        profile[k] = v
        return profile

{'n': 'Ali'}