# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [14]:
print("Hello",12,True,12.3)

Hello 12 True 12.3

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [15]:
print("Hello",12,True,12.3, sep="-")

Hello-12-True-12.3

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [16]:
print("Hello",end=" ")
print(12,end=" ")
print(False,end=" ")
print(56.78)

Hello 12 False 56.78

4) Can a python print function take no value to print???

In [17]:
print() #Yes, it can

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [18]:
name="Ahmed"
age=30
profession= "Lawyer"
grad_year= 2005
company_name= "The Himalya Associates"
join_year= 2015
height_ft= 5.10
weight=70600
monthly_income= 200000
rate=0.0036

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [19]:
current_year=2024
print(current_year - grad_year)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [20]:
current_year - join_year

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [21]:
monthly_income=monthly_income*rate
print(monthly_income)

720.0

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [22]:
monthly_income=int(monthly_income)
print(monthly_income)
type(monthly_income)

720

int

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [23]:
print(type(weight))
weight=weight//1000
print(weight)

<class 'int'>
70

In [24]:
#11) print the year of birth of Mr. Ahmed.
print(current_year-age)

1994

In [25]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [26]:
100%6==0
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

False

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [27]:
name = input("Enter your name: ")
course = input("Enter your course: ")
days = input("Enter days of class: ")
ID = input("Enter your ID")
print("\t Saylani Mass IT")
print(f" Name : {name}\n Course : {course}\n Days : {days}\n ID : {ID}")

Enter your name:  Muhammad Ali
Enter your course:  Data Science & AI
Enter days of class:  Tuesday and Thursday
Enter your ID 334036

	 Saylani Mass IT
 Name : Muhammad Ali
 Course : Data Science & AI
 Days : Tuesday and Thursday
 ID : 334036

In [1]:
def simple_perceptron(input_data: list) -> float:
    if len(input_data) > 2:
        raise Exception("Invalid input data length!")
    
    weight = [0.5, 0.2]
    result = 0.0
    
    for x, w in zip(input_data, weight):
        result = result + x * w
    
    result = result - 0.4
    
    if result > 0:
        return 1
    else:
        return 0

In [10]:
simple_perceptron([1,0])

1